h1{
  font-weight: 800;
  font-size: 45px;
  margin: 10px;
  margin-bottom: 20px;
}

input{
  width: 100%;
 
}

.items-container{
  text-align: left;
}

.kg-row{
  margin: 7px 5px;
}

.kg-button{
  min-width: 80px;
}
